html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  top: 0px;
  left: 0px;

  scrollbar-width: none;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* moved globals */

@import url("https://cdn.jsdelivr.net/npm/@github/mona-sans/css/mona-sans.css");

:root {
  --background: #ffffff;
  --foreground: #171717;

  --default-font: "MonaSpace", monospace;

  /* color */
  --primary-color-one: #00a5fd;
  --primary-color-two: #7694ff;

  --secondary-color-one: #00c4fd;
  --secondary-color-two: #769dff;

  --primary-color-one-rgb: 0, 165, 253;
  --primary-color-two-rgb: 118, 148, 255;

  --secondary-color-one-rgb: 0, 196, 253;
  --secondary-color-two-rgb: 118, 157, 255;

  --tertiary-color: white;

  /* single cards */
  --single-card-background: rgba(0, 0, 0, 0.2);

  /* section */
  --section-title-size: 28px;
  --section-title-weight: bold;

  --default-text: black;

  /* fonts */
  --fancy-font: "MonaSpace Krypton", monospace;
  --subtitle-font: "MonaSpace Argon", monospace;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary-color-one: #0181d9;
    --primary-color-two: #002bc4;

    --secondary-color-one: #008bff;
    --secondary-color-two: #ff418e;

    --primary-color-one-rgb: 1, 129, 217;
    --primary-color-two-rgb: 0, 43, 196;

    --secondary-color-one-rgb: 0, 139, 255;
    --secondary-color-two-rgb: 255, 65, 142;

    --tertiary-color: black;

    --default-text: white;

    /* single cards */
    --single-card-background: rgba(255, 255, 255, 0.05);
  }

  html {
    color-scheme: dark;
  }
}

/* make every single div object have a box border */
/* TODO -- remove it later */
/* div {
  border: 1px solid rgba(255, 255, 255, 0.1);
} */

/* section template code */
.section-container {
  padding: 20px;
  padding-bottom: 30px;
  width: 90%;
}

.section-title {
  align-self: left;
  font-size: var(--section-title-size);
  font-weight: var(--section-title-weight);
}

/* special text colouring */
.text-gradient-mask-p1 {
  background: linear-gradient(
    to right,
    var(--primary-color-one),
    var(--secondary-color-two)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.text-gradient-mask-p2 {
  position: relative; /* Establish a positioning context for the pseudo-element */
  background: linear-gradient(
    to right,
    var(--tertiary-color),
    var(--primary-color-one)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1280px) {
  .section-container {
    width: 80%;
  }
}
