.experience-viewer-item {
  display: block;
  min-height: 200px;

  background: var(--background);
  margin: 3px;

  transition: transform 0.5s;
}

.experience-viewer-item:hover {
  transform: scale(1.01);
  transition: transform 0.5s;
}

.experience-viewer-description-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  list-style-image: var(--triangle-svg);
  color: white;
  padding-left: 0px;
  font-size: var(--description-text-size);
  gap: 5px;
}

.experience-viewer-item-description {
  padding: 0px 4px !important;
  font-family: var(--default-font);
}

.experience-viewer-description-container {
  position: relative;
  display: flex;
  margin-left: 20px;
  font-family: var(--reading-font);
}
