.experience-viewer-item {
  display: block;

  min-height: 200px;
  max-height: 340px;
}

.experience-viewer-description-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  list-style-image: var(--triangle-svg);
  color: white;
  padding-left: 0px;
}

.experience-viewer-item-description {
  margin: 0px !important;
  padding: 10px !important;

  font-family: var(--default-font);
}
