.card-container {
  width: 100%;
  height: 0px;

  /* background: rgba(0, 0, 0, 0.6); */

  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;

  padding: 0px 10px;
}

.container-left {
  height: 400px;
  overflow-y: "auto";
  overflow: hidden scroll;

  border-radius: 10px;

  background: linear-gradient(to bottom, rgba(30, 0, 30, 1), rgba(0, 0, 0, 0.6));
}

.container-right {
  width: 96%;
  height: 400px;
  overflow-y: hidden;
  border-radius: 10px;

  background: rgba(0, 0, 0, 0.8);
}

/* single card */
.single-card {
  padding: 15px;
  border-radius: 10px;
}

.single-card-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  position: inherit;

  -webkit-box-reflect: below 20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.single-card-left {
  display: flex;
  flex-direction: column;
  gap: 10px;

  aspect-ratio: 1 / 1;
  border-radius: 5px;
  overflow: hidden;
}

.single-card-left > img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.single-card-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  align-items: flex-end;
  height: 100%;
}

.card-description {
  padding: 0px 15px;
}

.card-tag {
  padding: 8px;
  border-radius: 10px;

  font-size: 15px;
  font-weight: bold;

  overflow: hidden;
}

/* list viewer */

.single-card-list {
  padding: 0px 10px;
  margin: 10px;
  border-radius: 5px;
  display: block;

  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: calc(1em - 0.1vw);
  background: var(--single-card-background);

  border: 1px solid var(--foreground);
}

.single-card-left-list {
  position: relative;
  padding: 5px 0px;
  transform: scale(1);
  transition: 0.2s;
}

.single-card-list:hover {
  background: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
  transition: transform 0.2s;
  transform: background 0.2s;

  cursor: pointer;
}

.single-card-list-title {
  display: inline-block;
  white-space: wrap;
}
