.container-grid {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  gap: 10px;
}

.left-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.collage-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-areas:
    "circle circle . . "
    "circle circle . . "
    ". . . . ";

  gap: 2px;
}
