.hero-container {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.hero-background {
  background: linear-gradient(
    to right,
    var(--primary-color-one),
    var(--primary-color-two)
  );
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: -1;
  mask-image: radial-gradient(
      circle at 50% 50%,
      /* Change this to your desired x and y coordinates */ rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5) 70%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 100%);
}

@keyframes heroBackgroundAnimation {
  0% {
    opacity: 0.6;
    transform: scale(1);
    mask-position: 35% 50%;
  }
  25% {
    opacity: 0.7;
    transform: scale(1.05);
    mask-position: 47% 50%;
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
    mask-position: 65% 50%;
  }
  75% {
    opacity: 0.7;
    transform: scale(1.05);
    mask-position: 53% 50%;
  }
  100% {
    opacity: 0.6;
    transform: scale(1);
    mask-position: 35% 50%;
  }
}

.hero-background {
  animation: heroBackgroundAnimation 10s infinite;
}
