.container {
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}

.left-container {
  display: block;
}

.right-container {
  display: flex;
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 2px;
}

.experience-list-item {
  padding: 2px;
  border-radius: 2px;
  transition: transform 0.2s;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--primary-color-two);
}

.experience-list-item:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: transform 0.2s;

  /* special effect */
  border: 2px solid transparent;
  background-image: linear-gradient(var(--background), var(--background)),
    linear-gradient(to right, var(--primary-color-one), var(--secondary-color-two));
  background-origin: border-box;
  background-clip: content-box, border-box;

  border: 2px solid transparent;
  transition: border 0.2s;
}

.experience-viewer {
  padding: 5px;
  width: 100%;

  background-color: rgba(255, 0, 0, 0.4);
}
