.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid white;
  padding: 10px;
  margin-top: 40px;

  -webkit-align-items: center;
  -webkit-justify-items: center;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  width: 70%;
  justify-self: center;
}

.footer-item {
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-direction: column;

  gap: 10px;

  justify-content: flex-start;
  align-items: left;
}

.footer-item a {
  color: white;
  text-decoration: none;

  align-self: flex-start;
  justify-self: flex-start;
}
