.header {
  display: flex;
  flex-direction: column;
  /* background: lightblue; */
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: vertical;
  align-items: left;
  justify-content: left;

  gap: 10px;
  width: 100%;
  max-width: 1100px;
  padding: 20px 32px;
}

.nav {
  display: flex;
  gap: 16px;
  list-style: none;
  align-items: center;

  font-family: var(--subtitle-font);
  color: var(--default-text);
  padding: 0;
}

.card {
  margin: 5px 10px;
  padding: 0px 10px;

  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  color: var(--default-text);
}

.resumecard {
  margin: 5px 10px;
  padding: 0px 10px;

  border-radius: 5px;
  background-color: var(--primary-color-two);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  color: var(--default-text);
}

.card:hover {
  transform: scale(1.03);
  transition: transform 0.2s;
}

.resumecard:hover {
  transform: scale(1.03);
  transition: transform 0.2s;
}

.logo {
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: bold;
  font-size: 20px;
}

.logo:hover {
  transform: scale(1.03);
  transition: transform 0.2s;
}

.logo > a {
  color: var(--tertiary-color);
  text-decoration: none;
}

@media (max-width: 800px) {
  .card,
  .resumecard,
  .logo {
    display: none;
  }

  .nav {
    padding: 10px;
  }
}
