.skills-container {
  justify-content: center;
  align-items: center;
}

.skillset-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;

  border-radius: 5px;

  position: relative;
}

.skillset-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--tertiary-color);
}

@media screen and (max-width: 600px) {
}
